<!DOCTYPE html>
<html>
<head>
<title>LoL Item Set Builder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
      <link rel="stylesheet" href="https://cdn.rawgit.com/angular/bower-material/v0.9.7/angular-material.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/champController.js"></script>
  </head>
    
<body ng-app="myApp">
<div layout="column" flex >
<div ng-controller="statsController" >
  <md-content >
    <md-toolbar>
    <div layout="row" class="md-toolbar">
      <img src="{{imgLink}}" height="72px"/>
      <p class="md-display-1"  >{{name}} - {{title}}</p>
      </div>
        </md-toolbar>
      </md-content>
      </div>
    <div layout="row" style="height:1000px">
    
    <div layout="column" ng-controller="statsController">
      <md-content >
       <md-input-container >
        <md-select ng-model="level" ng-change="levelChamp()" placeholder="Choose Champion Level">
          <md-optgroup label="Level">
            <md-option ng-value="level.value" ng-repeat="level in levels ">{{level.value}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <p>Attack Damgae: {{atkDmgLvl}}</p>
      <p>Health: {{hpLvl}}</p>
      <p>Mana: {{manaLvl}}</p>
      <p>Range:{{range}}</p>
  </md-content>
  </div>
 <div layout="column" ng-controller="statsController">
      <md-content>
       <div style="height:110px">
        
      </div>
      
<div ng-repeat="effect in addedDmg" layout="column">
      <p>Added Damage:{{effect.effect}}</p>
</div>
  </md-content>
  </div>
  
  <div ng-controller="runeController" flex >
  <md-content layout-padding >
  <md-input-container>
      <input ng-model="summonerName" placeholder="Summoner Name">
    </md-input-container>
    <md-button class="md-accent md-raised" ng-click="getRunesPages()">Get Runes</md-button>
    
    <div layout="row" layout-align="start center">
    <md-input-container flex >
        <md-select ng-model="page" ng-change="getRuneStats()" placeholder="Pick Rune Page ">
          <md-optgroup label="Page">
            <md-option ng-value="page" ng-repeat="page in runePages" ng-click="getRuneStats()" >{{page.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      </div>
  </md-content>
 
   <md-content flex>
    <md-list>
      <md-subheader class="md-no-sticky" >Runes</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="rune in currentRunes"  >
        <img ng-src="{{rune.img}}" class="md-avatar" alt="rune img" layout-align="start start"/>
        <div class="md-list-item-text" layout-align="end start" layout="column">
          <h3  start">{{ rune.name }}</h3>
          <h3>{{ rune.desc }}</h3>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
     </md-list>
    </md-content>
  
  
  </div>
  
  <div layout="column"  ng-controller="statsController" flex >
  
     <md-content flex layout="row">

	<div style="border:5px solid black;" flex="33">
    <md-button  class="md-primary md-raised" ng-click="showAdvanced1($event)" layout-align="start start">
    Item 1
    </md-button>
    <div ng-repeat="stat in itemStats1" layout="row">
    	<p  layout-align="center end"  >{{stat.statName}}</p>
    	<p>{{stat.statValue}}</p>
    </div>
   		 <div style="" layout-align="end center"  layout="column" >
    		<img src="{{itemImage1}}" layout-align="center end" />
   		 </div>
    </div>
    
    
    
		<div style="border:5px solid black;" flex="33">
    <md-button  class="md-primary md-raised" ng-click="showAdvanced2($event)" layout-align="start start">
    Item 2
    </md-button>
    <div ng-repeat="stat in itemStats2" layout="row">
    	<p  layout-align="center end"  >{{stat.statName}}</p>
    	<p>{{stat.statValue}}</p>
    </div>
   		 <div style="" layout-align="end center"  layout="column" >
    		<img src="{{itemImage2}}" layout-align="center end" />
   		 </div>
    </div>
    

	<div style="border:5px solid black;" flex="33">
    <md-button class="md-primary md-raised" ng-click="showAdvanced3($event)" >
      Item 3
    </md-button>
    <p layout-align="center end">{{itemName3}}</p>
    <img src="{{itemImage3}}" />
    </div> 
    </md-content>  
    
    
     <md-content flex layout="row">

	<div style="border:5px solid black;" flex="33">
    <md-button class="md-primary md-raised" ng-click="showAdvanced4($event)" layout-align="start start">
      Item 4
    </md-button>
    <p layout-align="center end">{{itemName4}}</p>
    <img src="{{itemImage4}}" />
    </div>
    
	<div style="border:5px solid black;" flex="33">
    <md-button class="md-primary md-raised" ng-click="showAdvanced5($event)" layout-align="start start">
      Item 5
    </md-button>
    <p layout-align="center end">{{itemName5}}</p>
    <img src="{{itemImage5}}" />
    </div>

	<div style="border:5px solid black;"" flex="33">
    <md-button class="md-primary md-raised" ng-click="showAdvanced6($event)" layout-align="start start">
      Item 6
    </md-button>
    <p layout-align="center end">{{itemName6}}</p>
    <img src="{{itemImage6}}" />
    </div> 
    </md-content> 
    
    
</div>
  </div>
  <p>{{itemArray}}</p>
 
  </div>
 

<hr>
<p ng-controller="footerController">{{disclosure}}</p>
</body>
</html>