<!DOCTYPE html>
<html>

<head>
    <title>LoL Item Set Builder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular/bower-material/v0.9.7/angular-material.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/champController.js"></script>
</head>

<body ng-app="myApp">
    <div layout="column" flex>
        <div ng-controller="statsController">
            <md-content class="md-whiteframe-z1">
                <md-toolbar>
                    <div layout="row" layout-align="start center"  class="md-toolbar" style="height:85px">
                        <img src="{{imgLink}}" height="84px" />
                        <p class="md-display-1" layout-padding>{{name}} - {{title}}</p>
                    </div>
                </md-toolbar>
            </md-content>
        </div>
        <div layout="row" style="height:600px">

            <div layout="column" layout-align="start center" ng-controller="statsController" flex="33">
            <md-toolbar class="md-primary md-hue-1 md-title md-whiteframe-z1" layout-align="center center" >
						<p style="color:white">Review Item Effect!</p>
					</md-toolbar>
                <md-content >
                    <md-input-container>
                        <md-select ng-model="level" ng-change="levelChamp()" placeholder="Choose Champion Level">
                            <md-optgroup label="Level">
                                <md-option ng-value="level.value" ng-repeat="level in levels ">{{level.value}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <p>Attack Damgae: {{atkDmgLvl}}</p>
                    <p>Health: {{hpLvl}}</p>
                    <p>Mana: {{manaLvl}}</p>
                    <p>Range:{{range}}</p>
                </md-content>
            </div>


            <div layout="column" ng-controller="statsController" layout-align="start center" flex="33">
					<md-toolbar class="md-primary md-hue-1 md-title md-whiteframe-z1" layout-align="center center">
					
						<p style="color:white">Make an Item Set!</p>
			
					</md-toolbar>
					<div layout="row">
				
                        <md-input-container layout-align="start end" >
     			 <input ng-model="itemSetName" placeholder="Item Set Name">
   			  
   			  </md-input-container>
   			  
   			  
   			  <md-button class="md-raised md-accent"ng-click="showShop($event)" layout-align="" >
                        Add Item
                        </md-button>
                    </div>
                <md-content  >
                    <md-list > 
                    <md-list-item ng-repeat="item in itemSet" class="md-3-line" style="border:2px solid grey">
                    <div  layout-align="center center" layout="column" >
                        <div layout="row" layout-padding>
                            <img src="{{item.answer.img}}" style="height:48px" layout-align="center end" />
                            <p flex>{{item.answer.name}} Price:{{item.answer.cost}}</p>
                            </div>
                            
                            <p class="md-caption"> {{item.answer.descLong}}</p>
                        </div>
                        <md-button class="" ng-click="deleteItem($event)" layout-align="start end">
                            <ng-md-icon icon="highlight_remove" size="36"style="fill:red" ></ng-md-icon>
                        </md-button>
                        
                    </md-list-item>
                    </md-list>
                </md-content>


    
</div>
 
  <div flex layout-align="start center">
  
  <div ng-controller="runeController "  >
<md-toolbar class="md-primary md-hue-1 md-title md-whiteframe-z1" layout-align="center center">
					
						<p style="color:white">Review Rune Pages!</p>
			
					</md-toolbar>
  <md-content layout-padding flex="33">
  <div layout="row ">
  <md-input-container >
      <input ng-model="summonerName " placeholder="Summoner Name">
     </md-input-container>
     
     <md-button > <ng-md-icon icon="search" size="24" class="md-accent md-raised " ng-click="getRunesPages() "></ng-md-icon> </md-button>
     </div>
     
    

 <div flex>
 <div layout="row " layout-align="start center " flex>
    <md-input-container flex >
        <md-select ng-model="page "  placeholder="Pick Rune Page ">
          <md-optgroup label="Page ">
            <md-option ng-value="page " ng-repeat="page in runePages " ng-click="getRuneStats('progress') " >{{page.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <div layout="row" layout-sm="column" layout-align="space-around" id="progress" style="display:none">
      <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
    </div>
      </div>
    <md-content style="height:250px">
    <md-list>
      <md-list-item class="md-3-line "  ng-repeat="rune in currentRunes"  >
          <img ng-src="{{rune.img}} " class="md-avatar " alt="rune img " layout-align="start start "/>
        	
          <h3>{{ rune.name }}</h3>
            <h3>{{ rune.desc }}</h3> 
        
         <md-divider ></md-divider>
      </md-list-item>
     </md-list>
    </md-content>
    </div>
    
  </div>
  </div>

  
  </div>
  <p>{{itemArray}}</p>
 
  </div>
 

<hr>
<md-content>
<p ng-controller="footerController" class="md-caption" layout="end start" layout-padding>{{disclosure}}</p>
</md-content>
</body>
</html>